Simulado da A2 de Linguagens de Programação – 17/11/2017
--
Professor: Renato Rocha Souza  
--

Nome do Aluno(a):

In [16]:
meu_nome = input('Entre com o seu nome completo: ')
print('Olá, {}!'.format(meu_nome))

print('Bom trabalho!')

Entre com o seu nome completo: Daphne
Olá, Daphne!
Bom trabalho!

In [17]:
import numpy as np
import matplotlib.pyplot as plt
import requests
import random
import re
import string
import time
import pymysql
import sqlite3
import getpass
import pandas.io.sql as psql
import networkx as nx
from IPython.display import clear_output
%matplotlib inline

Questão 1 (2,0 pontos)  


Utilizando Python, crie um banco de dados no sqlite que guarde a seguinte estrutura:


| id (integer) | nome (text)    | data_nascimento (text)    | peso (real) | altura (real) | imc (real) | Gênero  (text) |
|--------------|----------------|---------------------------|-------------|---------------|------------|----------------|
| 1            | Anitta         | "1980-10-10 00:00:00.000" | 56          | 160           | 0          | POP            |
| 2            | Caetano Veloso | "1956-01-23 00:00:00.000" | 57          | 165           | 0          | MBP            |
| 3            | Roberto Carlos | "1943-05-12 00:00:00.000" | 69          | 172           | 0          | MPB            |
| 4            | Ivete Sangalo  | "1973-05-21 00:00:00.000" | 60          | 170           | 0          | AXÉ            |
| 5            | Wesley Safadão | "1982-09-07 00:00:00.000" | 77          | 181           | 0          | POP            |


Após a estrutura gerada, crie um script que calcule e corrija o IMC da tabela pela fórmula:  


$\large IMC = \frac{Peso}{Altura^{2}}$


Veja: https://sqlite.org/datatype3.html

In [34]:
conn = sqlite3.connect('cadastro.db')
cur = conn.cursor()

# seu código aqui

In [36]:
# Create table
cur.execute('''CREATE TABLE IF NOT EXISTS cantores
             (id integer, nome text, data_nascimento text, peso real, altura real, imc real, Gênero text)''')

# Insert a row of data
cur.execute("INSERT INTO cantores VALUES (1, 'Anitta', '1980-10-10 00:00:00.000', 56, 160, 0, 'POP')")
cur.execute("INSERT INTO cantores VALUES (2, 'Caetano Veloso', '1956-01-23 00:00:00.000', 57, 165, 0, 'MBP')")
cur.execute("INSERT INTO cantores VALUES (3, 'Roberto Carlos', '1943-05-12 00:00:00.000', 69, 172, 0, 'MPB')")
cur.execute("INSERT INTO cantores VALUES (4, 'Ivete Sangalo', '1973-05-21 00:00:00.000', 60, 170, 0, 'AXÉ')")
cur.execute("INSERT INTO cantores VALUES (5, 'Wesley Safadão','1982-09-07 00:00:00.000', 77, 181, 0, 'POP')")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
#conn.close()

In [54]:
for row in cur.execute('UPDATE cantores SET imc = round((peso/(altura*altura)*10000),1)'):
    print(row)

In [56]:
for row in cur.execute('SELECT * FROM cantores ORDER BY id'):
        print(row)

(1, 'Anitta', '1980-10-10 00:00:00.000', 56.0, 160.0, 21.9, 'POP')
(2, 'Caetano Veloso', '1956-01-23 00:00:00.000', 57.0, 165.0, 20.9, 'MBP')
(3, 'Roberto Carlos', '1943-05-12 00:00:00.000', 69.0, 172.0, 23.3, 'MPB')
(4, 'Ivete Sangalo', '1973-05-21 00:00:00.000', 60.0, 170.0, 20.8, 'AXÉ')
(5, 'Wesley Safadão', '1982-09-07 00:00:00.000', 77.0, 181.0, 23.5, 'POP')

Questão 2 (2.0 pontos)  

Conecte ao banco SQLite e responda:
- Quantos artistas/bandas (artists) possuem nomes (Name) começando com a letra "L"?
- Quais as 5 faixas (tracks) mais longas?
- Quais são os nomes (Name) dos artistas (artists) que as gravaram?
- Qual o gênero (Genre) que possui, em média, as faixas (tracks) mais longas?
- Qual o gênero (Genre) que possui, em média, as faixas (tracks) mais caras?

In [57]:
conn = sqlite3.connect('../../Dados/chinook.sqlite')
cur = conn.cursor()

# seu código aqui

In [60]:
for row in cur.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(row)

('albums',)
('sqlite_sequence',)
('artists',)
('customers',)
('employees',)
('genres',)
('invoices',)
('invoice_items',)
('media_types',)
('playlists',)
('playlist_track',)
('tracks',)
('sqlite_stat1',)
('cantores',)

In [61]:
for row in cur.execute("PRAGMA table_info([artists]);"):
    print(row)

(0, 'ArtistId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(120)', 0, None, 0)

In [89]:
for row in cur.execute("select * from artists limit 5"):
    print(row)

(1, 'AC/DC')
(2, 'Accept')
(3, 'Aerosmith')
(4, 'Alanis Morissette')
(5, 'Alice In Chains')

In [93]:
for row in cur.execute("select * from tracks limit 5"):
    print(row)

(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, 0.99)
(2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, 0.99)
(3, 'Fast As a Shark', 3, 2, 1, 'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman', 230619, 3990994, 0.99)
(4, 'Restless and Wild', 3, 2, 1, 'F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman', 252051, 4331779, 0.99)
(5, 'Princess of the Dawn', 3, 2, 1, 'Deaffy & R.A. Smith-Diesel', 375418, 6290521, 0.99)

In [96]:
for row in cur.execute("select * from genres limit 5"):
    print(row)

(1, 'Rock')
(2, 'Jazz')
(3, 'Metal')
(4, 'Alternative & Punk')
(5, 'Rock And Roll')

In [71]:
for row in cur.execute("PRAGMA table_info([tracks]);"):
    print(row)

(0, 'TrackId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(200)', 1, None, 0)
(2, 'AlbumId', 'INTEGER', 0, None, 0)
(3, 'MediaTypeId', 'INTEGER', 1, None, 0)
(4, 'GenreId', 'INTEGER', 0, None, 0)
(5, 'Composer', 'NVARCHAR(220)', 0, None, 0)
(6, 'Milliseconds', 'INTEGER', 1, None, 0)
(7, 'Bytes', 'INTEGER', 0, None, 0)
(8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)

In [78]:
for row in cur.execute("PRAGMA table_info([genres]);"):
    print(row)

(0, 'GenreId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(120)', 0, None, 0)

In [85]:
#Quantos artistas/bandas (artists) possuem nomes (Name) começando com a letra "L"?
for row in cur.execute("SELECT COUNT(name) FROM artists WHERE name LIKE 'l%'"):
    print(row)

(13,)

In [86]:
#Quais as 5 faixas (tracks) mais longas?
for row in cur.execute("SELECT name FROM tracks ORDER BY Milliseconds desc limit 5"):
    print(row)

('Occupation / Precipice',)
('Through a Looking Glass',)
('Greetings from Earth, Pt. 1',)
('The Man With Nine Lives',)
('Battlestar Galactica, Pt. 2',)

In [87]:
#Quais são os nomes (Name) dos artistas (artists) que as gravaram?
for row in cur.execute("SELECT composer FROM tracks ORDER BY Milliseconds desc limit 5"):
    print(row)

(None,)
(None,)
(None,)
(None,)
(None,)

In [123]:
#Qual o gênero (Genre) que possui, em média, as faixas (tracks) mais longas?
for row in cur.execute("SELECT AVG(Milliseconds), GenreID FROM tracks GROUP BY GenreID ORDER BY AVG(Milliseconds) desc LIMIT 10"):
    print(row)

(2911783.0384615385, 20)
(2625549.076923077, 18)
(2575283.78125, 21)
(2145041.0215053763, 19)
(1585263.705882353, 22)
(309749.4438502674, 3)
(302985.8, 15)
(297452.9285714286, 13)
(293867.5675675676, 24)
(291755.3769230769, 2)

In [139]:
#Qual o gênero (Genre) que possui, em média, as faixas (tracks) mais longas?
for row in cur.execute("SELECT GenreID FROM tracks GROUP BY GenreID ORDER BY AVG(Milliseconds) desc LIMIT 1"):
    print(row)

(20,)

In [134]:
#Qual o gênero (Genre) que possui, em média, as faixas (tracks) mais caras?
for row in cur.execute("SELECT AVG(UnitPrice), GenreID FROM tracks GROUP BY GenreID ORDER BY AVG(UnitPrice) desc LIMIT 1"):
    print(row)

(1.990000000000001, 19)

In [136]:
#Qual o gênero (Genre) que possui, em média, as faixas (tracks) mais caras?
for row in cur.execute("SELECT GenreID FROM tracks GROUP BY GenreID ORDER BY AVG(UnitPrice) desc LIMIT 1"):
    print(row)

(19,)

In [129]:
for row in cur.execute("""SELECT (UnitPrice), GenreID FROM tracks limit 4"""):
    print(row)

(0.99, 1)
(0.99, 1)
(0.99, 1)
(0.99, 1)

In [117]:
for row in cur.execute("""SELECT count(distinct GenreID) from tracks"""):
    print(row)

(25,)

Questão 3 (3.0 pontos)  (questão desafiante!!)

Com o banco de dados da questão anterior, crie um grafo utilizando o pacote networkx do Python, de modo que os artistas estejam ligados ao gênero a que pertence a maioria de suas músicas. Diferencie com atributos os nós de artista e de gênero.

https://networkx.github.io/  
https://networkx.github.io/documentation/stable/tutorial.html#directed-graphs 
https://networkx.github.io/documentation/stable/tutorial.html#adding-attributes-to-graphs-nodes-and-edges  
https://networkx.github.io/documentation/stable/tutorial.html#drawing-graphs

In [21]:
# seu código aqui

Questão 4 (1.5 pontos) 

Pedro, coitado, programa em R há muitos anos, mas gostaria de migrar para Python, uma linguagem muito mais poderosa. Ajude-o a converter o código abaixo para Python:

In [22]:
countdown <- function(from)
{
  print(from)
  while(from!=0)
  {
    Sys.sleep(1)
    from <- from - 1
    print(from)
  }
}

countdown(5)

SyntaxError: invalid syntax (<ipython-input-22-98b7d93b2ca8>, line 1)

In [23]:
def countdown(fro):
    print(fro)
    while fro != 0:
        time.sleep(1)
        fro = fro - 1
        print(fro)

In [24]:
countdown(5)

5
4
3
2
1
0

Questão 5 (1.5 pontos) 

Vitória é uma excelente programadora em C. Nos últimos tempos - mas isso ela não admitiria - tem se convencido de que Python é uma escolha mais razoável para sua vida acadêmica. Ajude-a a converter o código abaixo para Python:

In [25]:
#include <stdio.h>
int main()
{
    int n, reversedInteger = 0, remainder, originalInteger;

    printf("Enter an integer: ");
    scanf("%d", &n);

    originalInteger = n;

    // reversed integer is stored in variable 
    while( n!=0 )
    {
        remainder = n%10;
        reversedInteger = reversedInteger*10 + remainder;
        n /= 10;
    }

    // palindrome if orignalInteger and reversedInteger are equal
    if (originalInteger == reversedInteger)
        printf("%d is a palindrome.", originalInteger);
    else
        printf("%d is not a palindrome.", originalInteger);
    
    return 0;
}

SyntaxError: invalid syntax (<ipython-input-25-0e07da0fba82>, line 2)

In [26]:
#seu código aqui

Questão Bônus (0,5 pontos)  

Alexandrino gosta muito de LISP, mas - poucos sabem - secretamente acalenta o sonho de programar em Python. 
Ajude-o a converter o código abaixo para Python:

In [27]:
(defun get-max-value (list)
  (let ((ans (first list)))
    (do ((i 1 (1+ i)))
        ((>= i (length list)) ans)
      (when (> (nth i list) ans)
        (setf ans (nth i list))))))

SyntaxError: invalid syntax (<ipython-input-27-27fe275b691e>, line 1)

In [28]:
#seu código aqui