### Exercícios comparativos de linguagens:

1) Dado os seguintes algoritmos em linguagens específicas, crie um algoritmo equivalente em linguagem Python

https://rosettacode.org/wiki/Sorting_algorithms/Quicksort

# R

qsort <- function(v) {
  if (length(v) > 1) 
  {
    pivot <- (min(v) + max(v))/2.0  # Could also use pivot <- median(v)
    c(qsort(v[v < pivot]), v[v == pivot], qsort(v[v > pivot])) 
  } else v
}
 
N <- 100
vs <- runif(N)
system.time(u <- qsort(vs))
print(u)

# Common Lisp

(defun quicksort (list &aux (pivot (car list)) )
  (if (cdr list)
      (nconc (quicksort (remove-if-not #'(lambda (x) (< x pivot)) list))
             (remove-if-not #'(lambda (x) (= x pivot)) list)
             (quicksort (remove-if-not #'(lambda (x) (> x pivot)) list)))
      list))

In [ ]:
#C

#include <stdio.h>
void quicksort(int *A, int len);
 
int main (void) {
  int a[] = {4, 65, 2, -31, 0, 99, 2, 83, 782, 1};
  int n = sizeof a / sizeof a[0];
  int i;
  for (i = 0; i < n; i++) {
    printf("%d ", a[i]);
  }
  printf("\n");
  quicksort(a, n);
  for (i = 0; i < n; i++) {
    printf("%d ", a[i]);
  }
  printf("\n");
  return 0;
}

In [ ]:
# Python

def quickSort(arr):
    less = []
    pivotList = []
    more = []
    if len(arr) <= 1:
        return arr
    else:
        pivot = arr[0]
        for i in arr:
            if i < pivot:
                less.append(i)
            elif i > pivot:
                more.append(i)
            else:
                pivotList.append(i)
        less = quickSort(less)
        more = quickSort(more)
        return less + pivotList + more
 
a = [4, 65, 2, -31, 0, 99, 83, 782, 1]
a = quickSort(a)

2) Escreva um código em R para receber um vetor de inteiros e retornar um vetor com os inteiros pares dentre os inteiros da primeira lista

In [ ]:
v <- 1:20
    
filtra.pares <- function(v) {
  v <- v[v%%2 == 0]
  print(v)
  }

filtra.pares(v)

3) Escreva um código em Common Lisp para receber um vetor de inteiros e retornar um vetor com os inteiros pares dentre os inteiros da primeira lista

In [ ]:
(setq v2 #(1 2 3 4 5 6 7 8 9 10))
(remove-if-not 'evenp v2)

4) Faça um programa em Python equivalente ao seguinte programa em R:

In [ ]:
function (x) 
{
  romans <- c("M", "CM", "D", "CD", "C", "XC", "L", "XL", "X", 
              "IX", "V", "IV", "I")
  numbers <- c(1000L, 900L, 500L, 400L, 100L, 90L, 50L, 40L, 
               10L, 9L, 5L, 4L, 1L)
  out <- integer(length(x))
  ind <- is.na(x)
  out[ind] <- NA
  if (any(!ind)) {
    y <- toupper(x[!ind])
    y <- gsub("CM", "DCCCC", y)
    y <- gsub("CD", "CCCC", y)
    y <- gsub("XC", "LXXXX", y)
    y <- gsub("XL", "XXXX", y)
    y <- gsub("IX", "VIIII", y)
    y <- gsub("IV", "IIII", y)
    ok <- grepl("^M{,3}D?C{,4}L?X{,4}V?I{,4}$", y)
    if (any(!ok)) {
      warning(sprintf(ngettext(sum(!ok), "invalid roman numeral: %s", 
                               "invalid roman numerals: %s"), paste(x[!ind][!ok], 
                                                                    collapse = " ")), domain = NA)
      out[!ind][!ok] <- NA
    }
    if (any(ok)) 
      out[!ind][ok] <- sapply(strsplit(y[ok], ""), function(z) as.integer(sum(numbers[match(z, 
                                                                                            romans)])))
  }
  out
}

5) Faça um programa em Python equivalente ao seguinte programa em C:

In [ ]:
/* A function that prints given number in words */
void convert_to_words(char *num)
{
    int len = strlen(num);  // Get number of digits in given number
 
    /* Base cases */
    if (len == 0) {
        fprintf(stderr, "empty string\n");
        return;
    }
    if (len > 4) {
        fprintf(stderr, "Length more than 4 is not supported\n");
        return;
    }
 
    /* The first string is not used, it is to make array indexing simple */
    char *single_digits[] = { "zero", "one", "two", "three", "four",
                              "five", "six", "seven", "eight", "nine"};
 
    /* The first string is not used, it is to make array indexing simple */
    char *two_digits[] = {"", "ten", "eleven", "twelve", "thirteen", "fourteen",
                     "fifteen", "sixteen", "seventeen", "eighteen", "nineteen"};
 
    /* The first two string are not used, they are to make array indexing simple*/
    char *tens_multiple[] = {"", "", "twenty", "thirty", "forty", "fifty",
                             "sixty", "seventy", "eighty", "ninety"};
 
    char *tens_power[] = {"hundred", "thousand"};
 
    /* Used for debugging purpose only */
    printf("\n%s: ", num);
 
    /* For single digit number */
    if (len == 1) {
        printf("%s\n", single_digits[*num - '0']);
        return;
    }
 
     /* Iterate while num is not '\0' */
     while (*num != '\0') {
 
        /* Code path for first 2 digits */
        if (len >= 3) {
            if (*num -'0' != 0) {
                printf("%s ", single_digits[*num - '0']);
                printf("%s ", tens_power[len-3]); // here len can be 3 or 4
            }
            --len;
        }
 
        /* Code path for last 2 digits */
        else {
            /* Need to explicitly handle 10-19. Sum of the two digits is
               used as index of "two_digits" array of strings */
            if (*num == '1') {
                int sum = *num - '0' + *(num + 1)- '0';
                printf("%s\n", two_digits[sum]);
                return;
            }
 
            /* Need to explicitely handle 20 */
            else if (*num == '2' && *(num + 1) == '0') {
                printf("twenty\n");
                return;
            }
 
            /* Rest of the two digit numbers i.e., 21 to 99 */
            else {
                int i = *num - '0';
                printf("%s ", i? tens_multiple[i]: "");
                ++num;
                if (*num != '0')
                    printf("%s ", single_digits[*num - '0']);
            }
        }
        ++num;
    }
}

/* Driver program to test above function */
int main(void)
{
    convert_to_words("9923");
    convert_to_words("523");
    convert_to_words("89");
    convert_to_words("8989");
 
    return 0;
}

### Exercícios com bancos de dados

1) Dada a tabela "pacientes", no banco de dados "Medicina", ilustrada abaixo:  


| idade | altura | peso | pressao_d | pressao_s |nome  |
|-------|--------|------|-----------|-----------|------|
| 23    | 183    | 73   | 8         | 12        |Rubens|
| 42    | 167    | 60   | 7         | 11        |Maria |
| 34    | 177    | 77   | 9         | 13        |Carlos|



Escreva um script em Python + SQL para construir um dicionário tendo os nomes como chave e as idades como valores.

In [1]:
import sqlite3

conn = sqlite3.connect('Medicina.db')
cur = conn.cursor()

In [2]:
# Create table
cur.execute('''CREATE TABLE IF NOT EXISTS pacientes
             (idade real, altura real, peso real, pressao_d real, pressao_s real, nome text)''')

# Insert a row of data
cur.execute("INSERT INTO pacientes VALUES (23, 183, 73, 8, 12, 'Rubens')")
cur.execute("INSERT INTO pacientes VALUES (42, 167, 60, 7, 11, 'Maria')")
cur.execute("INSERT INTO pacientes VALUES (34, 177, 77, 9, 13, 'Carlos')")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [5]:
conn = sqlite3.connect('Medicina.db')
cur = conn.cursor()

In [6]:
for row in cur.execute('SELECT * FROM pacientes ORDER BY nome'):
        print(row)

(34.0, 177.0, 77.0, 9.0, 13.0, 'Carlos')
(42.0, 167.0, 60.0, 7.0, 11.0, 'Maria')
(23.0, 183.0, 73.0, 8.0, 12.0, 'Rubens')

In [8]:
dic = {}
for row in cur.execute('SELECT nome, idade FROM pacientes ORDER BY nome'):
        print(row)
        dic[row[0]] = row[1]
dic

('Carlos', 34.0)
('Maria', 42.0)
('Rubens', 23.0)

{'Carlos': 34.0, 'Maria': 42.0, 'Rubens': 23.0}

2) Conecte ao banco Python/Dados/chinook.sqlite e inspecione a lista de tabelas

In [12]:
conn = sqlite3.connect('../Dados/chinook.sqlite')
cur = conn.cursor()

In [19]:
for row in cur.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(row)

('albums',)
('sqlite_sequence',)
('artists',)
('customers',)
('employees',)
('genres',)
('invoices',)
('invoice_items',)
('media_types',)
('playlists',)
('playlist_track',)
('tracks',)
('sqlite_stat1',)

3) Quais artistas lançaram mais albuns?

4) Quais gêneros musicais contêm mais faixas gravadas(tracks)?

5) Quais os clientes (customers) que gastaram mais dinheiro em compras (invoices)?

6) Quais foram as faixas mais compradas, e de qual artista são?

7) Crie um histograma de faixas mais compradas, usando o matplotlib  
https://matplotlib.org/devdocs/api/_as_gen/matplotlib.pyplot.hist.html