FGV - Escola de Matemática Aplicada
==
Introdução à Programação com a Linguagem Python
--

#### Acesso a Banco de Dados

Importando os Módulos

In [20]:
import pymysql
import sqlite3
import getpass
import pandas.io.sql as psql

D: com o sqlite dá para criar tabelas

In [26]:
conn = sqlite3.connect('example.db')       #os.path.join(outputs,
cur = conn.cursor()                        #usando um banco SQLite

Estabelecendo uma Conexão

In [19]:
p = getpass.getpass()
conn = pymysql.connect(host='127.0.0.1', 
                       port=3306, 
                       user='aluno', 
                       passwd=p, 
                       db='Alunos')

········

OperationalError: (2003, "Can't connect to MySQL server on '127.0.0.1' ([Errno 111] Connection refused)")

Utilizando cursores padrão

In [12]:
cur = conn.cursor()

NameError: name 'conn' is not defined

Executado queries e examinando os resultados:

+ fetchall()  
+ fetchmany(num. registros)  
* fetchone()  

O cursor armazena os resultados da query

In [27]:
cur.execute("show databases;")
for r in cur.fetchall():
   print(r)

OperationalError: near "show": syntax error

D: cur.execute: Executa uma querie qualquer no banco de dados

In [5]:
cur.execute('use Alunos2;')

0

In [6]:
cur.execute('show tables;')
for r in cur.fetchall():
   print(r)

('a',)
('account',)
('b',)
('branch',)
('business',)
('customer',)
('department',)
('employee',)
('individual',)
('officer',)
('perso',)
('product',)
('product_type',)
('transaction',)
('transaction_vw',)

In [7]:
cur.execute('select * from customer;')
for r in cur.fetchall():
   print(r)

(1, '111-11-1111', 'I', '47 Mockingbird Ln', 'Lynnfield', 'MA', '01940')
(2, '222-22-2222', 'I', '372 Clearwater Blvd', 'Woburn', 'MA', '01801')
(3, '333-33-3333', 'I', '18 Jessup Rd', 'Quincy', 'MA', '02169')
(4, '444-44-4444', 'I', '12 Buchanan Ln', 'Waltham', 'MA', '02451')
(5, '555-55-5555', 'I', '2341 Main St', 'Salem', 'NH', '03079')
(6, '666-66-6666', 'I', '12 Blaylock Ln', 'Waltham', 'MA', '02451')
(7, '777-77-7777', 'I', '29 Admiral Ln', 'Wilmington', 'MA', '01887')
(8, '888-88-8888', 'I', '472 Freedom Rd', 'Salem', 'NH', '03079')
(9, '999-99-9999', 'I', '29 Maple St', 'Newton', 'MA', '02458')
(10, '04-1111111', 'B', '7 Industrial Way', 'Salem', 'NH', '03079')
(11, '04-2222222', 'B', '287A Corporate Ave', 'Wilmington', 'MA', '01887')
(12, '04-3333333', 'B', '789 Main St', 'Salem', 'NH', '03079')
(13, '04-4444444', 'B', '4772 Presidential Way', 'Quincy', 'MA', '02169')

In [8]:
cur.execute('select * from customer;')
for r in cur.fetchmany(5):
   print(r)

(1, '111-11-1111', 'I', '47 Mockingbird Ln', 'Lynnfield', 'MA', '01940')
(2, '222-22-2222', 'I', '372 Clearwater Blvd', 'Woburn', 'MA', '01801')
(3, '333-33-3333', 'I', '18 Jessup Rd', 'Quincy', 'MA', '02169')
(4, '444-44-4444', 'I', '12 Buchanan Ln', 'Waltham', 'MA', '02451')
(5, '555-55-5555', 'I', '2341 Main St', 'Salem', 'NH', '03079')

In [9]:
cur.execute('select * from customer;')
for r in cur.fetchone():        ##devolve cada um dos campos do registro
   print(r)

1
111-11-1111
I
47 Mockingbird Ln
Lynnfield
MA
01940

In [10]:
#D:
cur.execute('select * from customer;')
a, b, c, d, e, f, g = cur.fetchone()        ##desempacotando cada campo

In [11]:
a

1

In [12]:
b

'111-11-1111'

In [13]:
#D:
cur.execute('select * from customer;')
a, b, c, d, e, f, g = cur.fetchone()        ##desempacotando cada campo
h, i, j, k, l, m, n = cur.fetchone()

In [14]:
h

2

In [15]:
i

'222-22-2222'

Criando uma tabela no Banco de Dados

In [16]:
cur.execute("USE Alunos;")
cur.execute('''CREATE TABLE IF NOT EXISTS tabela_nova 
               (text VARCHAR(200) DEFAULT NULL,
                number INT DEFAULT NULL)
               ENGINE=MyISAM DEFAULT CHARSET='utf8';''')

/usr/local/lib/python3.5/dist-packages/pymysql/cursors.py:166: Warning: (1050, "Table 'tabela_nova' already exists")
  result = self._query(query)

0

In [18]:
#maneira mais elegante
cur.execute("USE Alunos;")
q = '''CREATE TABLE IF NOT EXISTS tabela_nova2222 
       (text VARCHAR(200) DEFAULT NULL,
        number INT DEFAULT NULL)
        ENGINE=MyISAM DEFAULT CHARSET='utf8';'''
cur.execute(q)

0

In [19]:
cur.execute("show tables;")
for r in cur.fetchall():
   print(r)

('Caldinha',)
('Felipe',)
('Felvc',)
('Giovanni',)
('MatheusAssis',)
('O_JOGO',)
('Paula',)
('Pauladaco',)
('Pauladaco2',)
('VictorBitaraes',)
('almada',)
('almada2',)
('ananda',)
('ananda2',)
('brenogomes',)
('bruna',)
('brunaf',)
('daphne',)
('eu',)
('formiga',)
('giovanni',)
('harllos',)
('marlon',)
('matheus_aranda',)
('matheus_aranda2',)
('matheussouza',)
('mp_favorite_food',)
('msouza',)
('pet',)
('renata',)
('renata2',)
('renata2_food',)
('renato',)
('renato2',)
('renato3',)
('tabela_nova',)
('tabela_nova2',)
('tabela_nova222',)
('tabela_nova2222',)
('tabela_realmente_muito_nova',)
('tabela_realmente_nova',)
('victor',)
('vini',)
('vinicius',)

In [20]:
cur.execute("describe tabela_nova;")
for r in cur.fetchall():
   print(r)

('text', 'varchar(200)', 'YES', '', None, '')
('number', 'int(11)', 'YES', '', None, '')

Inserindo registros na nova tabela:

Inserindo um registro:

In [21]:
texto = 'Oh chuva, peço que caia devagar'
numero = 245

cur.execute('INSERT INTO Alunos.tabela_nova (text,number) VALUES (%s,%s)',(texto,numero))  
#text e number porque os campos são texto e numero

1

In [22]:
cur.execute("select * from tabela_nova;")
for r in cur.fetchall():
   print(r)

('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('Um novo texto para inserir na tabela', 245)
('Um novo texto para inserir na tabela', 245)
('Um novo texto para inserir na tabela', 245)
('Um novo texto para inserir na tabela', 245)
('Um novo texto para inserir na tabela', 245)
('Um novo texto para inserir na tabela', 246)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 24555)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('A 1 de Calculo deu 7/2', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Olha, da certo mesmo!', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('------->It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Oh chuva, peço que caia devagar', 245)

Inserindo vários registros

In [23]:
#D: zipando a lista de numeros e de texto em uma tupla
texts = ['It always seems impossible until its done.',
         'In order to succeed, we must first believe that we can.',
         'Life is 10% what happens to you and 90% how you react to it.',
         'Start where you are. Use what you have. Do what you can.',]

numbers = [12,23,34,45]

regs = zip(texts,numbers)

cur.executemany('INSERT INTO Alunos.tabela_nova (text,number) VALUES (%s,%s)', (regs))

4

In [24]:
cur.execute("select * from tabela_nova;")
for r in cur.fetchall():
   print(r)

('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('Um novo texto para inserir na tabela', 245)
('Um novo texto para inserir na tabela', 245)
('Um novo texto para inserir na tabela', 245)
('Um novo texto para inserir na tabela', 245)
('Um novo texto para inserir na tabela', 245)
('Um novo texto para inserir na tabela', 246)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 24555)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('A 1 de Calculo deu 7/2', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Olha, da certo mesmo!', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('------->It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('Oh chuva, peço que caia devagar', 245)
('Um novo texto para inserir na tabela', 245)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)
('It always seems impossible until its done.', 12)
('In order to succeed, we must first believe that we can.', 23)
('Life is 10% what happens to you and 90% how you react to it.', 34)
('Start where you are. Use what you have. Do what you can.', 45)

In [35]:
#D: não tenho o direito de drop,mas poderia ter
cur.execute("DROP TABLE IF EXISTS tabela_nova")

OperationalError: (1142, "DROP command denied to user 'aluno'@'localhost' for table 'tabela_nova'")

Criando uma tabela com um arquivo SQL

In [40]:
cur.execute('use Alunos2;')

q = '''

-- MySQL dump 10.13  Distrib 5.7.4-m14, for Linux (x86_64)
--
-- Host: localhost    Database: matrix
-- ------------------------------------------------------
-- Server version	5.7.4-m14

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `a`
--

DROP TABLE IF EXISTS `a`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `a` (
  `row_num` int(11) NOT NULL,
  `col_num` int(11) NOT NULL,
  `value` int(11) DEFAULT NULL,
  PRIMARY KEY (`row_num`,`col_num`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `a`
--

LOCK TABLES `a` WRITE;
/*!40000 ALTER TABLE `a` DISABLE KEYS */;
INSERT INTO `a` VALUES (0,3,55),(0,4,78),(1,0,19),(1,2,21),(1,3,3),(1,4,81),(2,1,48),(2,2,50),(2,3,1),(3,2,33),(3,4,67),(4,0,95),(4,4,31);
/*!40000 ALTER TABLE `a` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `b`
--

DROP TABLE IF EXISTS `b`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `b` (
  `row_num` int(11) NOT NULL,
  `col_num` int(11) NOT NULL,
  `value` int(11) DEFAULT NULL,
  PRIMARY KEY (`row_num`,`col_num`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `b`
--

LOCK TABLES `b` WRITE;
/*!40000 ALTER TABLE `b` DISABLE KEYS */;
INSERT INTO `b` VALUES (0,1,73),(0,4,42),(1,2,82),(2,0,83),(2,1,13),(2,3,57),(3,0,48),(3,1,85),(3,2,18),(3,3,24),(4,0,98),(4,1,7),(4,4,3);
/*!40000 ALTER TABLE `b` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2014-08-29 22:16:09

'''

cur.execute(q)

KeyboardInterrupt:

In [37]:
cur.execute('describe a;')
for r in cur.fetchall():
   print(r)

OperationalError: (1142, "DROP command denied to user 'aluno'@'localhost' for table 'a'")

In [39]:
cur.execute('describe b;')
for r in cur.fetchall():
   print(r)

KeyboardInterrupt:

Usando Pandas

(Basta passar a conexão estabelecida como parâmetro)

In [ ]:
df_mysql = psql.read_sql('select * from Alunos2.account;', con=conn)

In [ ]:
df_mysql.head()

### Exercícios

In [13]:
cur.execute('use Alunos2;')
cur.execute('show tables;')
for r in cur.fetchall():
   print(r)

NameError: name 'cur' is not defined

In [26]:
cur.execute('describe account;')
for r in cur.fetchall():
   print(r)

('account_id', 'int(10) unsigned', 'NO', 'PRI', None, 'auto_increment')
('product_cd', 'varchar(10)', 'NO', 'MUL', None, '')
('cust_id', 'int(10) unsigned', 'NO', 'MUL', None, '')
('open_date', 'date', 'NO', '', None, '')
('close_date', 'date', 'YES', '', None, '')
('last_activity_date', 'date', 'YES', '', None, '')
('status', "enum('ACTIVE','CLOSED','FROZEN')", 'YES', '', None, '')
('open_branch_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('open_emp_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('avail_balance', 'float(10,2)', 'YES', '', None, '')
('pending_balance', 'float(10,2)', 'YES', '', None, '')

In [27]:
cur.execute('select * from account limit 5;')
for r in cur.fetchall():
   print(r)

(1, 'CHK', 1, datetime.date(2000, 1, 15), None, datetime.date(2005, 1, 4), 'ACTIVE', 2, 10, 1057.75, 1057.75)
(2, 'SAV', 1, datetime.date(2000, 1, 15), None, datetime.date(2004, 12, 19), 'ACTIVE', 2, 10, 500.0, 500.0)
(3, 'CD', 1, datetime.date(2004, 6, 30), None, datetime.date(2004, 6, 30), 'ACTIVE', 2, 10, 3000.0, 3000.0)
(4, 'CHK', 2, datetime.date(2001, 3, 12), None, datetime.date(2004, 12, 27), 'ACTIVE', 2, 10, 2258.02, 2258.02)
(5, 'SAV', 2, datetime.date(2001, 3, 12), None, datetime.date(2004, 12, 11), 'ACTIVE', 2, 10, 200.0, 200.0)

In [28]:
cur.execute('describe product;')
for r in cur.fetchall():
   print(r)

('product_cd', 'varchar(10)', 'NO', 'PRI', None, '')
('name', 'varchar(50)', 'NO', '', None, '')
('product_type_cd', 'varchar(10)', 'NO', 'MUL', None, '')
('date_offered', 'date', 'YES', '', None, '')
('date_retired', 'date', 'YES', '', None, '')

In [29]:
cur.execute('select * from product;')
for r in cur.fetchall():
   print(r)

('AUT', 'auto loan', 'LOAN', datetime.date(2000, 1, 1), None)
('BUS', 'business line of credit', 'LOAN', datetime.date(2000, 1, 1), None)
('CD', 'certificate of deposit', 'ACCOUNT', datetime.date(2000, 1, 1), None)
('CHK', 'checking account', 'ACCOUNT', datetime.date(2000, 1, 1), None)
('MM', 'money market account', 'ACCOUNT', datetime.date(2000, 1, 1), None)
('MRT', 'home mortgage', 'LOAN', datetime.date(2000, 1, 1), None)
('SAV', 'savings account', 'ACCOUNT', datetime.date(2000, 1, 1), None)
('SBL', 'small business loan', 'LOAN', datetime.date(2000, 1, 1), None)

In [30]:
cur.execute('describe product_type;')
for r in cur.fetchall():
   print(r)

('product_type_cd', 'varchar(10)', 'NO', 'PRI', None, '')
('name', 'varchar(50)', 'NO', '', None, '')

In [31]:
cur.execute('select * from product_type;')
for r in cur.fetchall():
   print(r)

('ACCOUNT', 'Customer Accounts')
('INSURANCE', 'Insurance Offerings')
('LOAN', 'Individual and Business Loans')

In [32]:
cur.execute('describe employee;')
for r in cur.fetchall():
   print(r)

('emp_id', 'smallint(5) unsigned', 'NO', 'PRI', None, 'auto_increment')
('fname', 'varchar(20)', 'NO', '', None, '')
('lname', 'varchar(20)', 'NO', '', None, '')
('start_date', 'date', 'NO', '', None, '')
('end_date', 'date', 'YES', '', None, '')
('superior_emp_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('dept_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('title', 'varchar(20)', 'YES', '', None, '')
('assigned_branch_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')

In [33]:
cur.execute('select * from employee limit 10;')
for r in cur.fetchall():
   print(r)

(1, 'Michael', 'Smith', datetime.date(2001, 6, 22), None, None, 3, 'President', 1)
(2, 'Susan', 'Barker', datetime.date(2002, 9, 12), None, 1, 3, 'Vice President', 1)
(3, 'Robert', 'Tyler', datetime.date(2000, 2, 9), None, 1, 3, 'Treasurer', 1)
(4, 'Susan', 'Hawthorne', datetime.date(2002, 4, 24), None, 3, 1, 'Operations Manager', 1)
(5, 'John', 'Gooding', datetime.date(2003, 11, 14), None, 4, 2, 'Loan Manager', 1)
(6, 'Helen', 'Fleming', datetime.date(2004, 3, 17), None, 4, 1, 'Head Teller', 1)
(7, 'Chris', 'Tucker', datetime.date(2004, 9, 15), None, 6, 1, 'Teller', 1)
(8, 'Sarah', 'Parker', datetime.date(2002, 12, 2), None, 6, 1, 'Teller', 1)
(9, 'Jane', 'Grossman', datetime.date(2002, 5, 3), None, 6, 1, 'Teller', 1)
(10, 'Paula', 'Roberts', datetime.date(2002, 7, 27), None, 4, 1, 'Head Teller', 2)

1 - Na tabela "account", quais os valores médio, mínimo e máximo de "avail_balance"?

In [36]:
cur.execute('''select avg(avail_balance), 
                min(avail_balance), 
                max(avail_balance) from account;''')
for r in cur.fetchall():
    print(r)

(7114.769138, 0.0, 50000.0)

2 - Quais registros na tabela "account" estão acima da média de "avail_balance"?

In [42]:
cur.execute('''select * from account where avail_balance > 
                (select avg(avail_balance) from account);''')
for r in cur.fetchall():
    print(r)

(15, 'CD', 6, datetime.date(2004, 12, 28), None, datetime.date(2004, 12, 28), 'ACTIVE', 1, 1, 10000.0, 10000.0)
(22, 'MM', 9, datetime.date(2004, 10, 28), None, datetime.date(2004, 10, 28), 'ACTIVE', 1, 1, 9345.55, 9845.55)
(24, 'CHK', 10, datetime.date(2002, 9, 30), None, datetime.date(2004, 12, 15), 'ACTIVE', 4, 16, 23575.12, 23575.12)
(27, 'BUS', 11, datetime.date(2004, 3, 22), None, datetime.date(2004, 11, 14), 'ACTIVE', 2, 10, 9345.55, 9345.55)
(28, 'CHK', 12, datetime.date(2003, 7, 30), None, datetime.date(2004, 12, 15), 'ACTIVE', 4, 16, 38552.05, 38552.05)
(29, 'SBL', 13, datetime.date(2004, 2, 22), None, datetime.date(2004, 12, 17), 'ACTIVE', 3, 13, 50000.0, 50000.0)

3 - Na tabela "account", quais as (três) datas mais recentes e as (três) mais antigas ("open_date")?

In [45]:
#cur.execute('''select min(open_date), max(open_date) from account;''')

cur.execute('''select open_date from account order by open_date limit 3
            select open_date from account order by open_date desc limit 3;''')
for r in cur.fetchall():
    print(r)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 74))

InternalError: (1221, 'Incorrect usage of UNION and ORDER BY')

4 - Para cada elemento na tabela "product", exiba o nome completo do "product_type_cd" (tabela "product_type")

In [48]:
cur.execute('''select product_type_cd from product p inner join product_type pt on p_cd = pt_cd ''')
for r in cur.fetchall():
    print(r)

InternalError: (1052, "Column 'product_type_cd' in field list is ambiguous")

5 - Quantos empregados ("employees") possuem a letra "e" em seus nomes? E quantos tem sobrenomes que terminam com "r"?

In [64]:
cur.execute('''select count(*) from employee where fname like "%e%";''')
for r in cur.fetchall():
    print(r)

(6,)

In [63]:
cur.execute('''select count(*) from employee where lname like "%r";''')
for r in cur.fetchall():
    print(r)

(6,)

In [49]:
cur.execute('describe employee;')
for r in cur.fetchall():
   print(r)

('emp_id', 'smallint(5) unsigned', 'NO', 'PRI', None, 'auto_increment')
('fname', 'varchar(20)', 'NO', '', None, '')
('lname', 'varchar(20)', 'NO', '', None, '')
('start_date', 'date', 'NO', '', None, '')
('end_date', 'date', 'YES', '', None, '')
('superior_emp_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('dept_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('title', 'varchar(20)', 'YES', '', None, '')
('assigned_branch_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')

6 - Quais são os títulos ("title") possíveis para os empregados ("employees")?

7 - Quantos empregados ("employees") estão a exatamente dois níveis abaixo do presidente?

8 - Na tabela "account", quais os valores médio, mínimo e máximo de "avail_balance" por tipo de 'product_cd' ?

9 - Na tabela "transaction", há quantos registros por ano ("txn_date") e por empregado ("teller_emp_id")?

In [ ]:
cur.execute('describe transaction;')
for r in cur.fetchall():
   print(r)

In [ ]:
cur.execute('select * from transaction limit 5;')
for r in cur.fetchall():
   print(r)

10 - Você é dono de uma loja de automóveis. Crie tabelas no banco "Alunos" para representar os carros de seu pátio, os modelos de automóveis, os clientes e as compras realizadas.

11 - Crie uma lista no Python com todos os nomes e sobrenomes em strings únicas, a partir da tabela "individual"

In [ ]:
cur.execute('describe individual;')
for r in cur.fetchall():
   print(r)

In [ ]:
cur.execute('select * from individual limit 10;')
for r in cur.fetchall():
   print(r)

12 - A partir da tabela "individual", crie um dicionário no Python tendo os nomes e sobrenomes em strings únicas como chaves e as datas como valores.